  background-image: url("./images/vitaly-gariev-VZK7zlnUVwI-unsplash (1).jpg");
background-image: url("./images/jon-ly-ctpSbDDfPCs-unsplash.jpg");
 background-image: url("./images/freepik__expand__22746.png");
 background-image: url("./images/freepik__expand__84636.png");
 background-image: url("./images/young-handsome-man-choosing-shoes-shop.jpg");